@import "skeleton.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Abel);
@import url(https://fonts.googleapis.com/css?family=Oswald);
@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro);
html {
    width: 100%;
}
body {
    position: relative;
    min-width: 960px;
    background-color: #1C1D1F;
    color: #D7D7AF;
    font-family: 'Source Code Pro', monospace;
}

p {
    margin-bottom: 20px;
    line-height: 150%;
}

img {
    max-width: 100%;
}

input{
    color: black;
}


/******** header *********/

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

header {
    display: block;
}

header #mainLogo {
    font-family: 'Source Code Pro', monospace;
    
}
#mainLogo a {
    display: block;
    text-decoration: none;
    color: #EE9E2E;
}

/******** Navigation Menu *********/
/* nav block */
#menu {
    overflow: hidden;
    height: 4.5em;
    margin-bottom: 1.25em;
    /*border-bottom: 2px dashed #636b6F;*/
    
}
/**** navigations *****/
#menu ul {
   /* padding-left: 1em;*/

}

#menu li {
    display: inline-block;
    padding: 0em 1.5em;
    line-height: 4.5em;
}

#menu a {
    display: block;
    float: left;
    margin-right: 0.12em;
    text-decoration: none;
    font-size: 1.25em;
    color: #68C162;
}

#menu ul li.current a{
    font-weight: bold;
    
}

#menu a:hover {
    text-decoration: underline;
}

.content{
    padding:0 4em 0 4em;
}

footer{
    padding: 2em 4em;
}

/******** Lists *************/

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ul.list {
    margin-bottom: 8px;
}


ul.list li {
    padding-left: 22px;
}

ul.list li+li {
    margin-top: 4px;
}

.error{
    color: red;
}

.userbox{
    padding: 20px;
    border: 2px dashed #636b6F;
    margin: 0 auto;
    display:block;

}
/******User card**********/
.usercard{
    background-color: white;
    color: #383838;
    width: 450px;
    padding-bottom: 10px
    
}
.userName{
    font-size: 1.5em;
    color: white;
    padding: 10px 0 0 10px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
}
.top{
    background-color: #383838;
}
.userinfo{
    padding: 10px;
    font-family: 'Abel', sans-serif;
}
.company{
    color:white;
    padding: 0 0 10px 10px;
    font-size: 1.2em;
    font-family: 'Abel', sans-serif;
    margin: 0;
}
.jobtitle{
    color:white;
    padding: 0 0 10px 10px;
    font-size: 1em;
    font-family: 'Abel', sans-serif;
    margin-bottom: 0;
}

/********* Resusable classes ********/

/*Horizontal Line*/
.horiz {
    padding-top: 43px;
    border-top: 2px dashed #636b6F;
    width: 100%;
    margin: 0 auto;
    display:block;
}

.fleft {
    float: left;
    width: auto !important;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 3px;
}

.fright {
    float: right !important;
}

.alright {
    text-align: right;
}
.center {
    text-align: center;
}

.clear {
    float: none !important;
    clear: both;
}

.nowrap {
    white-space: nowrap;
}
.space{
    margin: 2em;
}
/**** Resusable classes End ****/









